
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="float-left">
                <h2 class="m-0 font-weight-bold text-primary">Itens de Série</h2>
            </div>
            <div class="float-right">
                <button class="btn btn-info"  (click)="novo()">
                    Novo Item
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive mt-1">
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource">

                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> Id </th>
                            <td mat-cell *matCellDef="let element"> 
                               {{element.id}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="descricao">
                            <th mat-header-cell *matHeaderCellDef> Descrição </th>
                            <td mat-cell *matCellDef="let element"> 
                                {{element.descricao}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="observacao">
                            <th mat-header-cell *matHeaderCellDef> Observação </th>
                            <td mat-cell *matCellDef="let element" title="{{element.observacao}}"> 
                                {{(element.observacao && element.observacao.length > 30) ? ( element.observacao | slice:0:30 )+'...' : element.observacao}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="url">
                            <th mat-header-cell *matHeaderCellDef> Url </th>
                            <td mat-cell *matCellDef="let element"> 
                                {{element.url}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="editar">
                            <th mat-header-cell *matHeaderCellDef> Editar </th>
                            <td mat-cell *matCellDef="let element"> 
                                <button mat-icon-button color="warn" class="btn text-warning" (click)="editar(element)">
                                    <mat-icon class="mat-18">edit</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="excluir">
                            <th mat-header-cell *matHeaderCellDef> Excluir </th>
                            <td mat-cell *matCellDef="let element"> 
                                <button mat-icon-button color="warn" class="btn text-danger" (click)="excluir(element.id)">
                                    <mat-icon class="mat-18">delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
